.navbar.navbar-light.navbar-expand-md.navigation-clean {
}

@keyframes fadein{
    from{opacity:0;}
    to{opacity:1;}

}
.fadeElement{
    animation: fadein ease-in 1s;

}

#addMap {
    height: 300px;
}

.spotLink  a {
    text-decoration: none;
    color: black
}

.spotContainer:hover {
    box-shadow: 0 0 30px rgb(255,198,0);
}

.whatsapp:hover {
    box-shadow: 0 0 30px rgb(255,198,0);
}

