.navbar.navbar-light.navbar-expand-md.navigation-clean {
}

@keyframes fadein{
    from{opacity:0;}
    to{opacity:1;}

}
.fadeElement{
    animation: fadein ease-in 1s;

}

#addMap {
    height: 300px;
}

.spotLink  a {
    text-decoration: none;
    color: black
}

.spotContainer:hover {
    background-color: #FFC600;
}

.whatsapp {
    background-image: url("../img/WhatsApp.png") ;
    background-repeat: no-repeat;
    width: 63px;
    height: 60px
}

.whatsapp a{
    text-decoration: none;

}
